body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

.wrapper > .dfn {
  color: #b58900;
}

.dfn + strong {
  color: #fff;
}

html header h1 ul li mark {
  background-color: #719e07;
}

li > .external {
  background-color: #719e07;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types:nth-child(1 3 5 7 9 11 13) {
  background-color: #657ba3;
}

.types:nth-child(2 4 6 8 10 12 14) {
  background-color: #586e75;
}

.types:nth-child(3 6 9 12) {
  background-color: #d04b16;
}
